/* strong.nombre-empresa*/
.nombre-empresa {

}

.softgalia {
    color: colorea(#800080, l5);

    @include hasta (60rem) {
        display: none;
    }

    a:hover, a:focus, a:target,
    &:hover, &:focus, &:target {
        color: colorea(#000080, l4);
    }
}

div[role="group"].softgalia {
    align-items: baseline;
}

/*----------- SVG -----------*/
.svg,
.svg-mini,
.svg-abbr,
.svg-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.svg {
    svg {
        height: $height-svg;
        width: $height-svg * $svg-x/$svg-y;
    }

    &-mini {
        svg {
            height: $height-svg-mini;
            width: $height-svg-mini * $svg-x/$svg-y;
        }
    }

    &-large {
        svg {
            height: $height-svg-large;
            width: $height-svg-large *$svg-large-x/$svg-large-y;
        }
    }
}
/*----------- fin de SVG -----------*/

.legal,
.index {
    @include hasta (35rem) {
        width: $width-35;
        margin-left: auto;
        margin-right: auto;
    }
    @include desde (35rem) {
        width: $width-80;
        margin-left: auto;
        margin-right: auto;
    }
}

.contacto {
    padding: $padding-comunes;
}

.index {
    padding-bottom: $padding-comunes;
}

.galeria {
    /* ul.modal*/
    & .modal {
        /* Contenedor figure*/
        @include simple-gallery;
    }

    /* ul.miniaturas*/
    & .miniaturas {

        & li {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            margin: $top;
            /* Evitar fondo transparente al transform*/
            background-color: $bg-body;
            box-shadow: 0pt 1pt 2pt rgba(#000, 0.4);
            -webkit-transition: ease-in-out 0.35s;
            transition: ease-in-out 0.35s;

            &:hover, &:focus, &:target {
                box-shadow: $box-shadow--hover;
                -webkit-transform: scale(1.1);
                        transform: scale(1.1);
            }

            & a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 100%;

                & figure {
                    /* ratio 16:9*/
                    width: 128pt;
                    height: 72pt;
                    margin: $top;

                }
            }
        }
    }
}

/*=============================================>>>>>
= Paths =
===============================================>>>>>*/
